# Extensions
*.class
*.swp


# Paths
.idea
eclipse
deploy
storm-0*
apache-storm-*

bin/extract_constants
bin/old
experiments
test/squall_plan_runner/confs/special_purpose
contrib/0.2.5
resources/storm-linux_*

test/m_bucket
test/data/tpch/small
test/data/tpch/0.1G
test/data/tpch/0.01G_z1
test/data/tpch/0.01G_z2
test/data/tpch/0.01G_z3
test/data/tpch/0.01G_z4
test/data/tpch/0.05G
test/data/tpch/1G
test/data/tpch/4G
test/data/tpch/10G
test/data/tpch/50G
test/results/tpch/10G
test/results/tpch/50G

contrib-eclipse-missing

# sbt
target/
cbin
dbtoaster

